$main-color: blueviolet;
$secundary-color: aquamarine;

body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    .left {
        width: 50%;
        background-color: $main-color;
        .text {
            margin-top: 40%;
            font-size: 150px;
            text-align: center;
            color: $secundary-color;
        }
    }
    .right {
        width: 50%;
        background-color: $secundary-color;
        .text {
            margin-top: 40%;
            font-size: 150px;
            text-align: center;
            color: $main-color;
        }
    }
}