$main-color: blueviolet;
$secundary-color: aquamarine;

@mixin reset {
    margin: 0;
    padding: 0;
}

@mixin color-text($bg-color, $text-color) {
    width: 50%;
    background-color: $bg-color;
    .text {
        margin-top: 40%;
        font-size: 150px;
        text-align: center;
        color: $text-color;
    }
}

body {
    @include reset();
}

.container {
    height: 100vh;
    display: flex;
    .left {
        @include color-text($main-color, $secundary-color)
    }
    .right {
        @include color-text($secundary-color, $main-color)
    }
}